.errorContainer {
  padding: 30px 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: flex-start;

  font-size: 18px;
}

.resetButton {
  background-color: lightcoral;
  color: white;
  font-size: 20px;
  padding: 10px;
  width: 150px;
  border-radius: 6px;
}
