.errorContainer {
  padding: 30px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.title {
  font-weight: 600;
}

.description {
  font-size: 18px;
}
