.errorContainer {
  padding: 30px 0;

  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: flex-start;
  align-items: center;

  font-size: 18px;
}

.errorTitle {
  padding: 0;
  text-align: start;
}

.resetButton {
  background-color: lightcoral;
  color: white;
  font-size: 20px;
  padding: 10px;
  width: 150px;
  border-radius: 6px;
}
