.errorContainer {
  padding-top: 30px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.errorTitle {
  color: red;
}

.goBack {
  display: block;
  padding: 8px 16px;

  background-color: aliceblue;
  border: 1px solid rgb(176, 174, 174);
  border-radius: 6px;

  font-weight: 600;
}
